/* ------ variable setup ------ */
:root {
	--main-body-color: #222222;
	--main-text-color: #ffffff;
	--main-red: #bb3232;
	--highlight: #1c1c1c;
}

.light-mode {
	--main-body-color: #ffffff;
	--main-text-color: #222222;
	--main-red: #bb3232;
	--highlight: #eeeeee;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color-scheme: dark light;
	scrollbar-width: none;
}

body {
	transition: all 0.3s;
	max-width: 2015px;
	min-height: 100vh;
	margin: auto;
	background-color: var(--main-body-color);
	color: var(--main-text-color);
	font-size: 16px;
	font-family: 'PT Sans', Calibri, Tahoma, sans-serif;
	overflow: hidden;
	/* test grid */
	display: flex;
	/* grid-template-columns: repeat(7, 1fr); */
	/* grid-template-rows: repeat(7, 1fr); */
}

a {
	text-decoration: none;
}

.header {
	margin: 17rem 2rem 0;
}

.title {
	transition: all 0.3s;
	max-width: 450px;
	color: var(--main-text-color);
	font-size: 6.6em;
	font-family: 'VT323', 'PT Sans', Calibri, Tahoma, sans-serif;
}

.highlight-text {
	background-color: var(--main-red);
	padding: 0 0.15em;
	color: var(--main-body-color);
}

.sub-heading {
	display: flex;
	align-items: baseline;
	margin-top: 3.5em;
}

.sub-heading-text {
	max-width: 22.5em;
}

.horizontal-line {
	width: 2em;
	height: 0.375em;
	background-color: var(--main-red);
	border-radius: 50px;
	margin-right: 1em;
}

.card-wrapper {
	transition: all 0.3s;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	margin: 3em;
	gap: 4em;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.card-wrapper::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

#theme-switch {
	align-self: flex-start;
	margin: 1.5rem 3rem;
	width: 150px;
	padding: 0;
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#theme-switch svg {
	transition: 0.3s all;
	stroke: #444;
}

body.light-mode #theme-switch svg {
	stroke: #ccc;
}

body.light-mode #theme-switch svg:hover,
#theme-switch svg:hover {
	stroke: var(--highlight);
}

body.light-mode #theme-switch svg.active,
#theme-switch svg.active {
	stroke: var(--main-red);
}
