/* ------ variable setup ------ */
:root {
	--main-body-color: #222222;
	--main-text-color: #ffffff;
	--main-red: #bb3232;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: var(--main-body-color);
	color: var(--main-text-color);
	font-size: 16px;
	font-family: 'PT Sans', Calibri, Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

.header {
	margin: 3rem;
}

.title {
	max-width: 450px;
	color: var(--main-text-color);
	font-size: 6.6em;
	font-family: 'VT323', 'PT Sans', Calibri, Tahoma, sans-serif;
}

.highlight-text {
	background-color: var(--main-red);
	padding: 0 0.25em;
	color: var(--main-body-color);
}

.sub-heading {
	display: flex;
	align-items: baseline;
	margin-top: 3.5em;
}

.sub-heading-text {
	max-width: 350px;
}

.horizontal-line {
	width: 2em;
	height: 0.375em;
	background-color: var(--main-red);
	border-radius: 50px;
	margin-right: 1em;
}
