/* ----- card style ----- */
.card-container {
	transition: all 0.3s;
	width: 18.75em;
	height: 22.25em;
	background-color: #2b2a2e;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card-description {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-number {
	color: #bebebe;
	font-size: 3.375em;
	font-family: 'VT323', 'PT Sans', Calibri, Tahoma, sans-serif;
	margin-top: 0.525em;
	margin-left: 0.525em;
	margin-right: 0.525em;
}

.card-title {
	color: #444444;
	font-size: 1.125em;
	margin-bottom: 1.525em;
	margin-left: 1.6em;
	margin-right: 1.6em;
}

.card-image {
	width: 100%;
	height: 100%;
}

.card-image img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	mix-blend-mode: multiply;
}

/* ----- circle scroll ----- */
.circle-container {
	transition: all 0.3s;
	position: absolute;
	width: 33.25em;
	height: 33.25em;
	background-color: var(--highlight);
	border-radius: 50%;
	top: 23%;
	left: -22%;
	transform: scale(0.9);
	display: flex;
	align-items: center;
	justify-items: center;
}

.top-circle {
	transition: all 0.3s;
	width: 98%;
	height: 98%;
	border-radius: 50%;
	background-color: var(--main-body-color);
}

.red-stripe {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 10px solid var(--main-red);
	/* clip-path: polygon(50% 25%, 100% 25%, 100% 75%, 50% 75%); */
	clip-path: polygon(0 44%, 100% 63%, 100% 27%);
	/* clip-path: polygon(0 46%, 100% 57%, 100% 34%); */
	clip-path: polygon(100% 31%, 100% 71%, 0% 60%, 0% 48%);
	clip-path: polygon(100% 34%, 100% 73%, 0% 73%, 0% 41%);
}
